html, body, div.height-all{
    height: 100%;
}

.content{
    padding-top: 50px;
}
.pending{
    position: absolute;
    top: 40%;
    left: 50%;
}
.pending img{
    padding-left: 30px;
}

.mouse-hover{
     cursor: pointer;
 }

.mouse-hover:hover{
    background-color: #9acfea;
}


/************************** profile list table******************/

.user_profile_list {
    margin-top: 20px;
    width: 100%;
    display: table;
    white-space: nowrap;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

.user_profile_row {
    height: 35px;
    display: table-row;
}

.user_profile_row:hover {
    background-color: #eaeaea;
}

.user_profile_row .profile_cell {
    padding: 7px 15px;
    display: table-cell;
    border-bottom: 1px solid #DDDDDD;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}
.user_profile_row .remove_left_border {
    border-left: 0;
}

/*.user_profile_row:hover {*/
    /*cursor: pointer;*/
    /*background-color: #ebebeb;*/
/*}*/
span {
    font-family: Calibri;
}

.dropdown-menu li .columns_checkbox {
    margin-right: 10px;
    margin: 5px 10px;
}

.header {
    font-weight: bold;
}

.action_button {
    cursor: pointer;
}

.user_profile_row .actions {
    overflow: visible;
}

.user_profile_row .id {
    width: 58px; /* 660pc ID cell width with border*/
}

.clear {
    clear: both;
}

.profile-list-style{
    overflow: auto;
}