html, body, div.height-all{
    height: 100%;
}

.content{
    padding-top: 50px;
}
.pending{
    position: absolute;
    top: 370px;
    left: 800px;
}
.pending img{
    padding-left: 30px;
}

.mouse-hover{
     cursor: pointer;
 }

.mouse-hover:hover{
    background-color: #9acfea;
}