.main-page{
    background-color: #fff;
}

.system_setting{
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 10px;
}

.buttons_panel button{
    margin: 10px 5px;
}

.form_container{
    clear: both;
}

.form-item-container {
    padding: 10px 0;
}

.form-item-body {
    display: inline-block;
    float: right;
}