.add_edit_item  label{
    font-weight: 600;
}

.view_info > span{
    display: inline-block;
    word-break: break-all;
    white-space: normal;
    vertical-align: top;
    margin: 0 5px;
}

.view_info .detail_label{
    font-weight: 600;
    width: 120px;
}

.view_info .detail_info{
    width: calc(100% - 150px)
}