<div class="form-item-container">
    <label for="sessionTime" class="form-item-label">Session Timeout:</label>
    <div class="form-item-body col-md-6">
        <input type="text" class="form-select form-control" name="sessionTime" id="sessionTime" value="">
    </div>
</div>
<div class="form-item-container">
    <label for="auth_method" class="form-item-label">Select the method of authentication you want to use:</label>
    <div class="form-item-body col-md-6">
        <input type="text" class="form-select form-control" name="auth_method" id="auth_method" value="">
    </div>
</div>

<div class="form-item-container">
    <label for="address" class="form-item-label">Address:</label>
    <div class="form-item-body col-md-6">
        <input type="text" class="form-select form-control" name="address" id="address" value="">
    </div>
</div>

<div class="form-item-container">
    <label for="alias" class="form-item-label">Alias:</label>
    <div class="form-item-body col-md-6">
        <input type="text" class="form-select form-control" name="alias" id="alias" value="">
    </div>
</div>

<div class="form-item-container">
    <label for="port" class="form-item-label">Port:</label>
    <div class="form-item-body col-md-6">
        <input type="text" class="form-select form-control" name="port" id="port" value="">
    </div>
</div>

<div class="form-item-container">
    <label for="guest_user_access" class="form-item-label">Guest User:</label>
    <div class="form-item-body col-md-6">
        <input type="text" class="form-select form-control" name="guest_user_access" id="guest_user_access" value="">
    </div>
</div>


<div class="form-item-container">
    <label for="guest_username" class="form-item-label">Guest User Name:</label>
    <div class="form-item-body col-md-6">
        <input type="text" class="form-select form-control" name="guest_username" id="guest_username" value="">
    </div>
</div>

<div class="form-item-container">
    <label for="guest_password" class="form-item-label">Guest Password:</label>
    <div class="form-item-body col-md-6">
        <input type="text" class="form-select form-control" name="guest_password" id="guest_password" value="">
    </div>
</div>

<div class="form-item-container">
    <label for="guest_confirm_password" class="form-item-label">Confirm Guest Password:</label>
    <div class="form-item-body col-md-6">
        <input type="text" class="form-select form-control" name="guest_confirm_password" id="guest_confirm_password" value="">
    </div>
</div>
