<div class="save_button glyphicon glyphicon-saved" ng-click="saveProfile()"></div>
<div class="clear"></div>

<div class="profile_row">
    <span class="name">Alias</span>
    <input type="text" class="form-control profile_inputs" aria-describedby="basic-addon1">
    <div class="clear"></div>
</div>

<div class="profile_row">
    <span class="name">User Name</span>
    <input type="text" class="form-control profile_inputs" aria-describedby="basic-addon1">
    <div class="clear"></div>
</div>

<div class="profile_row">
    <span class="name">Password</span>
    <input type="password" class="form-control profile_inputs" aria-describedby="basic-addon1">
    <div class="clear"></div>
</div>

<div class="profile_row">
    <span class="name">Confirm Password</span>
    <input type="password" class="form-control profile_inputs" aria-describedby="basic-addon1">
    <div class="clear"></div>
</div>