<div ng-switch="contentType">
    <div ng-switch-when="inboxList">
            <ul class="list-group">
                <li class="list-group-item mouse-hover" ng-repeat="inbox in inboxes" ng-click="loadDocumentsList(inbox)">{{inbox.fsuseracc}}</li>
            </ul>
    </div>

    <div ng-switch-when="documentList">
        <ul class="list-group">
            <li class="list-group-item mouse-hover" ng-repeat="document in documentList" ng-click="loadDocumentDetails(document)">
                <span>{{document.title}}</span>
                <span>{{document.docId}}</span>
            </li>
        </ul>
    </div>

    <div ng-switch-when="documentDetails">
        <div ng-include src="'./app/main/views/documentDetails.html'"></div>
    </div>

    <div ng-if="showGrids">
        <h1>List 0</h1><br>

        <div style="display: block; width: 100%; overflow-x: auto; overflow-y: hidden;" class="profile-list" data="profileList"></div>
        <br><hr><br>

        <br><br>
        <popup template-body="users" list-content="users"  popup-content-type="list" popup-title="" modal="modal1" show-pagination="false" show-refresh="true" show-per-page="false" show-exact-columns="false"></popup>
        <a class="btn btn-primary btn-sm" data-toggle="modal" href="#modal1">Open Popup</a>
        <br><br>

        <div class="profile-list" data="profileList"></div>
        <br><hr><br>

        <h1>List 1</h1>
        <list listdata="userinfo" list-content="userinfo" show-pagination="true" show-refresh="true" show-per-page="true" show-exact-columns="true"></list>
        <h1>List 2</h1>
        <list listdata="users" list-content="users" show-pagination="true" show-refresh="true" show-per-page="true" show-exact-columns="true"></list>
    </div>
</div>
