<div class="col-md-5"></div>
<div class="col-md-2 login-form-cont" ng-controller="LoginController as loginCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="loginFormData.username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="loginFormData.password">
                </div>
                <button type="button" class="btn btn-default" ng-click="login()">Log In</button>
            </form>
        </div>
    </div>

</div>
<div class="col-md-5"></div>