<div class="user_profile_list">

    <div class="user_profile_row header">
        <div class="profile_cell" ng-repeat="column in columns">{{ column }}</div>
        <div class="profile_cell actions"></div>
    </div>
    <div ng-show="show_current_row" class="user_profile_row" ng-repeat="profile in profileList">
        <div class="profile_cell">{{ profile.id }}</div>
        <div class="profile_cell">{{ profile.name }}</div>
        <div class="profile_cell">{{ profile.username }}</div>
        <div class="profile_cell">{{ profile.removed }}</div>
        <div class="profile_cell">{{ profile.hasPassword }}</div>
        <div class="profile_cell actions">
            <action-list data="profile" profile-id="profile.id"></action-list>
            <profile-detail data="profile"></profile-detail>
        </div>
    </div>
    <div class="clear"></div>
</div>