<div class="grid-container">
    <ng-include src="'./app/main/views/templates/partials/_grid_header.html'"></ng-include>
    <div class="grid-list-table">
        <div class="grid-list">
            <div class="grid-list-row">
                <div class="columns columns-sm">
                    <input type="checkbox" class="check-all" ng-model="checkAll" ng-click="checkedAll()" value="">
                </div>
                <div ng-repeat="(k, col) in listdata.structure.columns" ng-if="listdata.structure.columns" class="columns grid-header-cell"
                     ng-click="sortBy(k)" ng-hide="hideColumns.indexOf(k)>-1" ng-class="{sortReverse: sortReverse}">
                    {{col}}
                    <span ng-if="sortType === k && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                    <span ng-if="sortType === k && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                </div>
                <div class="columns"></div>
            </div>
            <div class="grid-list-row" ng-repeat="item in listdata.data | orderBy:sortType:sortReverse">
                <div class="columns columns-sm">
                    <input type="checkbox" ng-model="item.checked" value="">
                </div>
                <div ng-repeat="(key, value) in listdata.structure.columns" ng-hide="hideColumns.indexOf(key)>-1" ng-if="listdata.structure.columns" class="columns" >{{item.grid_info[key]}}</div>
                <div class="columns">
                    <actions-list actions="item.actions" ng-if="listdata.structure.actions" item-id="item.grid_info.id" disabled="item.action_disabled"></actions-list>
                    <popup template-body="item.grid_info" list-conntent="" popup-content-type="crud" popup-save="item.action_editable" popup-title="item.grid_info.name" modal="modal_edit_{{item.grid_info.id}}" ng-if="listdata.structure.actions"></popup>
                    <popup template-body="item.grid_info" list-conntent="" popup-content-type="info" popup-save="item.action_editable" popup-title="item.grid_info.name" modal="modal_view_{{item.grid_info.id}}" ng-if="listdata.structure.actions"></popup>
                    <span class="glyphicon glyphicon-menu-right pull-right" ng-if="!listdata.structure.actions"></span>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'./app/main/views/templates/partials/_grid_footer.html'" ng-if="showPagination"></ng-include>
</div>
<popup template-body="listdata.structure.columns" list-conntent="" popup-content-type="crud" popup-save="true" popup-title="title" modal="add_item"></popup>