<div class="modal" id="{{modalId}}"  role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">{{title}}</h4>
            </div>
            <div class="modal-body" ng-switch="type">
                <list listdata="templateBody" list-conntent="listContent" columns="item" ng-switch-when="list" show-pagination="showPagination" show-refresh="showRefresh" show-per-page="showPerPage" show-exact-columns="showExactColumns"></list>
                <view-info info="templateBody" ng-switch-when="info"></view-info>
                <items-form info="templateBody" ng-switch-when="crud"></items-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-if="popupSave">Save</button>
            </div>
        </div>
    </div>
</div>